.contact-container {
  .contact-title {
    font-family: 'Barlow Condensed', sans-serif;
    padding: 1rem;
  }
  .contact-form {
    border-radius: 2rem;
    width: 50%;
    padding: 1rem;
    background: var(--color-bg-variant);
  }
  form {
    gap: 0.5rem;
  }
}
