.header-container {
  min-height: 2rem;

  .menu-container {
    display: none;
  }
  .menu-container.open {
    display: block;
  }

  .logo-container {
    align-items: center;
  }

  .logo-container > h1 {
    font-family: 'Pacifico', cursive;
  }

  .nav-link {
    gap: 3rem;
    font-family: cursive;
    font-size: large;
  }

  input,
  button {
    background: transparent;
    border: 0;
  }
}

@media screen and (max-width: 1024px) {
  .header-container {
    .nav-link {
      gap: 1rem;
    }
  }
}
@media screen and (max-width: 600px) {
  .header-container {
    .nav-link {
      display: none;
    }
  }
}
