.movie-filter-container {
  .filter {
    min-width: 70%;
  }
  form {
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px -1px 31px -3px rgba(0, 0, 0, 0.75);
  }
  label {
    font-size: larger;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 1rem;
  }
  ::-webkit-input-placeholder {
    padding-left: 0.5rem;
  }
  input {
    margin-left: 1rem;
    background: rgb(176, 217, 253);
    border-radius: 1rem;
  }
  .title-input {
    width: 15rem;
  }
  .rating-input {
    width: 9rem;
  }
}
button {
  margin: 1rem;
}

@media screen and (max-width: 1024px) {
  .movie-filter-container {
    .filter {
    }
  }
}
@media screen and (max-width: 600px) {
  .movie-filter-container {
    .filter {
      display: grid;
      grid-template-columns: 1fr;
    }
    .title-input {
      width: 10rem;
    }
    .filter-container {
    }
    label {
      left: 0;
    }
  }
}
