.search-bar-container {
  height: 2rem;
  width: 60%;
  background: rgb(176, 217, 253);
  border-radius: 1rem;
  input {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .search-bar-container {
    max-width: 17rem;

    input {
      width: 90%;
    }
  }
}
@media screen and (max-width: 600px) {
  .search-bar-container {
    max-width: 10rem;
  }
}
